.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  padding-bottom: 1.75rem;
  transition: all 0.15s;
}

.wrapperCryptoPinned,
.wrapperCryptoSuggestions {
  margin-top: 1.5rem;
}

.heading {
  font-size: 0.75rem;
  letter-spacing: 3px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 400;
}
