.wrapper {
  background-color: #222;
  margin-top: 0.15rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 70vw;
  border-radius: 0.75rem;
  color: #eee;
  transition: all 0.1s;
}
.wrapper:first-of-type {
  margin-top: 0.75rem;
}
.wrapperActions {
  margin-left: auto;
  display: flex;
  gap: 0.25rem;
  opacity: 0;
  transition: all 0.15s;
}

.cryptoId {
  padding: 1rem;
  background-color: #ddd;
  border-radius: 0.75rem;
  font-weight: 800;
  color: #212529;
  letter-spacing: 1px;
}
.cryptoPin {
  padding: 1rem 1.25rem;
  border-radius: 0.75rem;
  border: none;
  color: #ddd;
  background-color: #444;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.15s;
  font-weight: 600;
}
.cryptoPin:hover {
  box-shadow: none;
  background-color: #eee;
  color: #222;
}
.wrapper:hover > .wrapperActions {
  opacity: 1;
}
